.home_body {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
}
.login_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #212529;
  opacity: 60%;
  height: 2.8rem;
  width: 5rem;
  position: absolute;
  right: 6rem;
  top: 1rem;
  border-radius: 7px;
}
.login_Container_Details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 3rem;
  position: absolute;

  top: 1rem;
  right: 6rem;
}
.outlined_login_img {
  color: #fff;
}
.outlined_login {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.login_Search_Container {
  width: 100%;
  height: 43.5rem;
  clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 95%);
  position: relative;
}
/* .login_Search_Container img {
    z-index: -1;
    width: 100%;
    height: 100%;
} */

.login_Search_tag {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  width: 67%;
  height: 65%;
  top: 7rem;
  left: 16%;
  z-index: 1000;
}
#login_Search_tag_img {
  width: 350px;
  height: 100%;
  color: #fff;
}
.boongg_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
}
#login_Search_Text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 3px 3px grey;
  line-height: 1.2;
  font-family: "Source Sans Pro", sans-serif;
}
#login_Search_Text2 {
  font-size: 2rem;
  text-shadow: 0 2px 2px grey;
  margin-bottom: 0.5rem;
  /* font-weight: 500; */
  line-height: 1.2;
  margin-top: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}
.rent_Now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.5rem;
  height: 2.5rem;
  background-color: #fff;
  color: #e82231;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0 4px 11px grey;
}
.login_Search_location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background-color: #212529;
  opacity: 0.6;
  border-radius: 8px;
  z-index: 1;
  position: relative;
}
.location_text {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 38rem;
  height: 2rem;
  z-index: 200;
  top: 18rem;
  left: 90px;
}
.location_text span {
  color: #fff;
  font-weight: 200;
  font-family: "Source Sans Pro", sans-serif;
}
.nav_location_Home {
  display: flex;
  height: 2.3rem;
  width: 50rem;
  border-radius: 30px;
  z-index: 400;
  position: absolute;
  top: 20rem;
}
#location_details_Home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-right: 0.5px solid #aaaaaa;
  border-radius: 30px 0px 0px 30px;
}
.outlined {
  color: #495057;
}

#location_name_Home {
  color: #495057;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
#start_date_Home {
  height: 100%;
  width: 30%;
  background-color: #fff;
  border-right: 0.5px solid #aaaaaa;
}
#end_date_Home {
  height: 100%;
  width: 30%;
  background-color: #fff;
}
#rent_now_Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  background-color: #e82231;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}
#rent_now_Home:hover {
  background-color: #ff0000;
}
